PROJECT_NAME="Flipper App"
ENVIRONMENT="development"

SUPABASE_URL=""
SUPABASE_KEY=""
SUPABASE_JWT_SECRET=""

GEMINI_API_KEY=""

EBAY_CLIENT_ID=""
EBAY_CLIENT_SECRET=""
EBAY_ACCOUNT_DELETION_VERIFICATION_TOKEN=""
EBAY_ACCOUNT_DELETION_ENDPOINT=""

MARKET_DATA_PROVIDER="mock"
